[2021-11-09 12:27] jmichelp commented on #405
Thanks for reporting.

Your issue is a lack of documentation on our side. OpenOCD requires to manually specify the programmer interface you use. Which means that the user must create a configuration file for their use case.

The file should be named `nordic_nrf52840_dongle.cfg` and needs to contain the interface definition as well as the chip. Here is an example, which IIRC was using an LPC-Link2

[2021-11-09 15:45] Lostsite commented on #405
(Sorry, I might be asking a very basic question...)
Is there any way to let OpenOCD write directly through the nrf52840 dongle's USB port?
If it does, how can I config the interface part?

[2021-11-09 16:37] jmichelp commented on #405
OpenOCD, pyOCD as well as JLink are JTAG/SWD programmers which one must manually wire to the dongle by either using the castellations on the side of the PCB or the TagConnect pads on the bottom of the PCB.

In order to flash over USB, please use the `nordicdfu` programmer. We added support (with the help of external contributors) to allow flashing Nordic dongles without requiring any external hard

[2021-11-09 22:27] Lostsite commented on #393
I try to run ` ./deploy.py --board=nrf52840_dongle --programmer=nordicdfu --opensk`,

and it tells me `fatal: Couldn't load python3 module nordicsemi.lister. Try to run: pip3 install nordicsemi.lister`.

Than I run `pip3 install nordicsemi.lister`,

shows
`ERROR: Could not find a version that satisfies the requirement nordicsemi.lister`

`ERROR: No matching distribution found for nordicsemi.lister

[2021-11-09 22:35] jmichelp commented on #393
I understand that the generated error message is misleading.
The correct command to run in this case is: `pip3 install nrfutil`

[2021-11-09 22:45] tarun14110 commented on #401
Thanks for your answers. That makes a lot of sense. I'll use the `user.id` field in case nothing else works out.
I find out that newer versions of chrome supports` credBlob`, so I am back exploring `credBlob` like @kaczmarczyck suggested.

To register I am sending the following request from chrome console. I include the `credBlob` in the extension, however in the response, I get `credBlob` as fals

[2021-11-10 00:39] Lostsite opened #406 "Reset Security Key in Nordic nRF52840-dongle?"
1. Is there any way to remove all the stored data inside the Security Key (after successfully installed) without using JTAG or other devices connected? (Basically, I just want to know Can I reset the Security Key in Windows or in the Browser? (I can't reset it in windows, basically, it ask me to push the pushbuttons twice on the device, and that won't work).

2. Is there any way to erase all the d

[2021-11-10 00:45] Lostsite commented on #406
Nevermind, the issue kind already been discribed in issue #179

[2021-11-10 03:39] kaczmarczyck commented on #401
I failed to mention that `credBlob` is only on the `develop` branch of OpenSK. Sorry for that. :( `stable` is the CTAP 2.0 certified version, and CTAP 2.1 support was a recent addition. When switching branches, you will have to run:
[code]
The board name changed, too, i.e.
[code]
You might have to erase the persistent storage due to a backwards incompatilbe change. Also be aware that `reset.sh` er

[2021-11-10 03:42] kaczmarczyck commented on #406
I'm reopening this for myself, there seems to be a problem with our documentation. No action required from you. Thanks for exploring OpenSK!

[2021-11-10 15:59] kaczmarczyck commented on #399
Closing as working as intended.

[2021-11-10 15:59] #399 closed, assigned to kaczmarczyck

[2021-11-10 17:48] tarun14110 commented on #401
I am trying to reflash the dongle using `./deploy.py --board="nrf52840_dongle_dfu" --opensk --programmer=nordicdfu`. But it says `fatal: Couldn't find any DFU device on your system.` Do I have to reset it before reflashing it? Do you want me to open another issue for this? I think some explanation of reflashing over USB in the documentation would be helpful if it's a different process.

[2021-11-11 22:09] kaczmarczyck commented on #401
I'm currently of reworking the documentation! Until that lands, let me try to help. You do need to reset some things, depending on how far you are jumping in history. To be safe, you reset both repo and storage. Be careful, the reset scripts deletes all uncommited changes!

[code]

I don't think this explains your error message though. Your device is not even detected. I had to press the tiny rese

[2021-11-11 22:31] kaczmarczyck commented on #401
To be more precise with the deploy instructions: First `--erase_storage`, then `--opensk`:
[code]

[2021-11-12 06:19] Lostsite commented on #389
I tryed on Nordic nRF52840-dongle, and after I touched the device, it says "can't use this security key, please try other security keys". and run the `./tools/configure.py` shows
'info: Certificate: Missing
info: Private Key: Missing'

@ia0 , @dataselfservice , have you guys faced the same problem? How did you guys solve that? (Sorry I'm still a new hand on the Linux and all these things"

[2021-11-12 07:54] kaczmarczyck commented on #389
Hi! Did you run the configure tool with the parameters to set the certificate?

[code]

If so, this info should change to indicate that you now have a certificate installed.

[2021-11-12 10:22] dataselfservice commented on #389
this <https://github.com/google/OpenSK/issues/389#issuecomment-966896651> worked fine (with own certificate/key)

[2021-11-12 13:39] Lostsite commented on #389
Thanks, I am going back and checking this evening. Tank you!

[2021-11-12 17:46] tarun14110 commented on #401
Thanks, @kaczmarczyck. That worked. I still cannot retrieve the credBlob during authentication, but I found that it's an issue with Chrome browser implementation. I am following up with them on this.

[2021-11-12 17:46] #401 closed, assigned to kaczmarczyck

[2021-11-12 17:51] kaczmarczyck commented on #401
Awesome! If you don't mind, I'd appreciate a quick update on a later stage of your project. Some FIDO 2.1 features are currently still not used much, and any real world feedback is useful.
@tarun14110

[2021-11-12 17:54] tarun14110 commented on #401
Sure! We decided to use OpenSK for our research going forward. we would be happy to give the feedbacks we have.

[2021-11-13 00:07] Lostsite commented on #389
It works, thank you!

[2021-11-13 06:06] #389 closed, assigned to nobody

[2021-11-17 03:20] WillySurr opened #409 "NRF52840 NFC support?"
Hi, have tried setting up with --nfc, but can't get it working with my phone. Is there any other special steps to set up nfc support on NRF52840-DK?

Thank you in advance

[2021-11-17 10:23] kaczmarczyck commented on #409
Hi! NFC is not fully merged yet. I don't have the hardware to test right now, but you could try to go from PR #315. Make sure to reset and setup again before you deploy. The `--nfc` flag will still be required.

Big disclaimer: The code is neither fully integrated nor tested much. Also it doesn't support multi transport yet, so you have to commit to either USB or NFC.

[2021-11-17 11:19] kaczmarczyck commented on #405
We need to document OpenOCD and pyOCD better, or remove support.

[2021-11-17 11:27] kaczmarczyck commented on #397
This problem is fixed on the `develop` branch, including the non-zero error code. Might take some time to land on stable, but seems to work reasonably well before that.

[2021-11-17 11:27] #397 closed, assigned to kaczmarczyck

[2021-11-17 11:28] kaczmarczyck commented on #394
Fixed on the next merge from bugfix into stable.

[2021-11-17 11:28] #394 closed, assigned to kaczmarczyck

[2021-11-17 23:13] kaczmarczyck commented on #335
Hi @gelintonx ! I'm closing this issue due to inactivity, feel free to re-open if you have any updates!

[2021-11-17 23:21] kaczmarczyck commented on #289
@Leo1003 Sorry for coming back so late to this. But I just noticed that the command had a typo, the `configure` should actually be `deploy`:
[code]

First deploy is to erase all, second is to re-install!

The new PR #408 intends to improve the documenation around `erase_storage`. Not sure if this fixes your problem, but maybe it helps you find it?

[2021-11-18 15:57] kaczmarczyck opened #411 "Easier DFU for MDK"
In #408, we add documentation for the MDK. This should be easier, and the deploy script generally allows DFU for other boards than the dongle. Let's check if we break its bootloader before we fix and recommend that, though (see #268).

[2021-11-19 15:07] kaczmarczyck commented on #349
Due to inactivity on #347, I integrated some improvements into our documentation update. Thanks for pointing out the flaws!

[2021-11-19 15:09] kaczmarczyck commented on #312
The missing documentation problem should be addressed in #414. It might actually be even easier, and I opened #411 to update the steps to a simple deploy once we evaluated if it's save or might still have negative side effects.

[2021-11-19 15:14] kaczmarczyck commented on #300
Hi @snowyu , the DFU mode is soon a first class citizen in our documentation.

I'm not sure I understand the  rest of the message concerning  OpenPGP. Can you explain more or open a new issue for that?

[2021-11-19 15:15] kaczmarczyck commented on #289
Please reopen or create a new issue if the new documentation in #414 does not help you fix your problem!

[2021-11-19 15:17] kaczmarczyck commented on #179
This is resolved with #247, and #414 adds the documentation to give `erase_storage` the necessary visibility.

[2021-11-19 16:55] #86 closed

[2021-11-19 16:55] #179 closed

[2021-11-19 16:55] #289 closed, assigned to jmichelp

[2021-11-19 16:55] #300 closed, assigned to nobody

[2021-11-19 16:55] #312 closed, assigned to jmichelp

[2021-11-19 16:55] #349 closed, assigned to nobody

[2021-11-19 16:55] #402 closed, assigned to kaczmarczyck

[2021-11-19 16:55] #406 closed, assigned to kaczmarczyck

[2021-11-21 01:08] snowyu commented on #300
@kaczmarczyck  Ok,  for example, security upgrade a new firmware workflow:

1.  sign the new firmware with your private `opensk-cert.key`(which signed the `opensk.key` and `opensk.key` should confirmed it too) first.
2. enter the flashing mode and drag the new firmware with the signature to the "`USB virtual disk`".
3. the flashing mode will verify the new firmware with the signature, it will upgr

[2021-11-22 11:27] kaczmarczyck commented on #300
I'm not sure I follow the idea. The certificate and `opensk-cert.key` are used for attestation, it does not sign the firmware.

We are currently exploring a new firmware upgrade mechanism that indeed requires signed firmware, see #404. That upgrade will not use DFU though, but run through CTAP.

[2021-11-22 13:20] geofli commented on #393
If you use Feitian OpenSK USB Dongle or Nordic OpenSK USB Dongle, you can try https://feitiantech.github.io/OpenSK_USB/feitianguiway/ .

[2021-11-23 03:03] snowyu commented on #300
@kaczmarczyck. Sorry, I am not familiar with the development of OpenSK.

I will use the [subkeys concept of OpenPGP](https://wiki.debian.org/Subkeys) to explain more.

Subkeys: consists of multiple keys which're bound to (signed by) a primary (master) key pair.

The `master key` is used for signing other keys, creating subkeys and revoking subkeys. It should always be stored offline.

Then creates

[2021-11-23 13:36] kaczmarczyck commented on #300
I think this would conflate different concepts to a degree I'm not comfortable with. The signing keys in OpenSK are different in lifetime requirements:

- The per-account keys (is this what you mean with FIDO keys?) reside inside the storage or are derived from the master secret, that is also stored in persistent storage. Those are generated on demand and differ per user.
- The attestation key is

[2021-11-25 11:07] jbalius commented on #3
Has anyone tried
Minew C2-7001 Nordic NRF52840 Dongle?

https://aliexpress.com/item/4000127809241.html

[2021-11-25 11:10] jmichelp commented on #3
No we haven't.
They say it's a buttonless dongle though which is an issue for FIDO2 because we need the button to validate user presence.

[2021-11-25 12:14] jbalius commented on #3
Actually it has a button. I have picture and schematics of it:
![minew](https://user-images.githubusercontent.com/29594329/143439845-1dba587d-18aa-40b9-9eb1-71c8f84dc7e8.jpg)
[MS04SF7_SCH_V1.0_a.pdf](https://github.com/google/OpenSK/files/7602845/MS04SF7_SCH_V1.0_a.pdf)

As I understand they are suggesting it can be used without a button for some applications.

[2021-11-25 12:40] snowyu commented on #300
I

Yes.

Is the attestation key used to sign the per-account key?  If it is, it is the device key(the second subkey) I am talking about.

The upgrade key should be `the first subkey` .

`The master key` can be used to revoke/renew the upgrade key and the attestation key.

[2021-11-25 13:02] jmichelp commented on #3
So, according to the schematics you provided, the board is equivalent to the nRF52840 Dongle from Nordic. Both LEDs and buttons are wired the same. Like on the Nordic dongle, one button acts as a reset button and the other one will be used for User Presence.

You should be able to flash OpenSK using the board definition `nrf52840_dongle_dfu` (simply follow the instructions we have for the Nordic n

[2021-11-25 15:01] kaczmarczyck commented on #300
During MakeCredential, the attestation key can be used to sign the new key material, if using the batch attestation mode.

I'm still not convinced that this structure would make key management simpler for vendors. The attestation key does not benefit from having a primary key, since it is shipped on the device, with the idea that it is too hard to extract from the hardware for an attacker. A prima

[2021-12-01 01:57] snowyu commented on #300
The key may be leaked or time-limited. If there is no signature, how to revoke the key?

The signature means more security. If wanna be easier to use, then there should be a supporting GUI program.

Yes, `the upgrade key` should be never stored on the device, and only the public part of `the upgrade key` is on the device.

It is precisely considering that the upgrade key may be leaked (requires ba

[2021-12-15 09:29] gendx opened #420 "Ordering invariant does not hold between `cbor_map!` and `destructure_cbor_map!` on the develop branch"
## Expected Behavior

In the `develop` branch, the `cbor_map!` macro's documentation indicates that keys do not need to be sorted: https://github.com/google/OpenSK/blob/develop/libraries/cbor/src/macros.rs#L143.

It is therefore expected that a map built like:

[code]

can be correctly used with `destructure_cbor_map!` as follows:

[code]

## Actual Behavior

This test fails with:

[code]

This is

[2021-12-21 15:24] kaczmarczyck commented on #300
You would need to contact FIDO Alliance to update their MDS (see [their website](https://fidoalliance.org/metadata/) for more info) for revocation.

Then maybe I don't understand what you are proposing. Who can see these signatures, who checks them?

This is already the case. I can see a small benefit to having a primary key here. Now, a new upgrade publi key is checked with the old upgrade privat

[2022-01-19 15:07] damienwolf07 commented on #7
Any updates?
I really want to see the ARM CryptoCell-310 be used.

[2022-01-19 18:03] kaczmarczyck commented on #7
Hi, thanks for your interest! I started using the Cryptocell for our custom bootloader, it's not submitted yet due to a shift in priorities. See [this commit](https://github.com/kaczmarczyck/OpenSK/commit/395b53285f23a01d5d4ad5cba467a31684d045a3) for example code to run SHA256. We don't have a PR lined up for the main OpenSK app yet though.

[2022-01-19 21:52] damienwolf07 commented on #7
Thank You!

[2022-03-03 10:56] kaczmarczyck opened #429 "Local fuzzing fails"
The latest version of `cargo fuzz` does not work with our toolchain. As a workaround, install an older version

[code]

or fuzz with a slightly newer toolchain:

[code]

This will be fixed after a bigger refactoring to make the CTAP code independent from specific hardware and Tock.

[2022-03-07 09:05] Rcrafte22 opened #437 "Nordic nRF52840 Dongle flash error"
## Steps to Reproduce the Problem

While I was trying to flash OpenSK

[root@localhost OpenSK]# ./deploy.py --board=nrf52840_dongle_dfu --opensk --programmer=nordicdfu
info: Updating rust toolchain to nightly-2020-06-10
info: syncing channel updates for 'nightly-2020-06-10-x86_64-unknown-linux-gnu'
info: checking for self-updates
info: component 'rust-std' for target 'thumbv7em-none-eabi' is up to

[2022-03-07 09:20] kaczmarczyck commented on #437
Hi! Thanks for reporting. Wild guess, sorry if you tried that already: Is `make` installed? Depending on your distro, it could be something like:
[code]

[2022-03-07 09:29] Rcrafte22 commented on #437
Thank you, I forgot to check this.

[2022-03-07 09:29] #437 closed, assigned to kaczmarczyck

[2022-03-25 02:24] superskybird opened #448 "Cannot RESET through Windows 10/11 sign-in options and Chrome settings on macOS"
## Expected Behavior
FIDO2 security key can be RESET through
- Chrome Settings->Manage Security Keys (macOS)
chrome://settings/securityKeys?search=security+key
- Windows 10/11 Sign-in Options->Security Key

## Actual Behavior
show error.
Even though replug and press button inside 10 seconds.

[2022-03-27 12:17] ia0 commented on #448
Thanks for the bug report!

I could actually reproduce on both Windows and Linux (Chrome).

Here is the trace for Linux after the replug:
[code]

We'll have to investigate more.

[2022-03-27 14:50] jmichelp commented on #448
If all these commands are sent by Chrome as part of a reset process, their logic may be wrong if I remember the specification correctly.
Here is the sequence I read from the dump:

1. Init command to get an HID channel
2. CBOR 0x04 (GetInfo command)
3. CBOR 0x01 (MakeCredential command) and we return `ERR_PIN_NOT_SET`.
4. CBOR 0x07 (Reset command). And we return `ERR_NOT_ALLOWED`

@kaczmarczyck co

[2022-03-27 22:23] kaczmarczyck commented on #448
Our implementing might be a bit too strict for the real world, it seems. This MakeCredential call is the deprecated CTAP 2.0 way to select an authenticator. Search for "zero length pinUvAuthParam" in the [specification](https://fidoalliance.org/specs/fido-v2.1-ps-20210615/fido-client-to-authenticator-protocol-v2.1-ps-20210615.html#sctn-makeCred-authnr-alg). The note below is explaining it:

A quic

[2022-03-28 12:31] kaczmarczyck commented on #448
The fix is merged. @superskybird Feel free to close this bug when you confirmed it works for you!

[2022-03-28 14:38] geofli commented on #448
Tested, it works well. Thanks.

[2022-03-28 14:41] superskybird commented on #448
Tested, it works well. Thanks.

[2022-03-28 14:41] #448 closed, assigned to kaczmarczyck

[2022-04-06 10:31] bubundas17 opened #454 "Not working with google?"
I am using the stable branch without any modifications.
I have successfully built and flashed it to an nrf52840 Dongle.
after flashing
I have ran
`./tools/configure.py --certificate=crypto_data/opensk_cert.pem --private-key=crypto_data/opensk.key`
![image](https://user-images.githubusercontent.com/26280146/161954876-d3cdf1b2-0ea4-497d-955f-2db028e75426.png)
and the certificate seems to be installe

[2022-04-06 10:38] bubundas17 commented on #454
Related Issue: #389

[2022-04-07 04:04] geofli commented on #454
I changed
`pub const USE_BATCH_ATTESTATION: bool = false;`
to
`pub const USE_BATCH_ATTESTATION: bool = true;`
then I can use OpenSK to work with google account.
It seems google account can not accept self-attestation which is returned by OpenSK's authenticatorMakeCredential.

[2022-04-07 04:13] kaczmarczyck commented on #454
Thanks @bubundas17 and @geofli ! From an OpenSK perspective, everything is working as expected. I'll leave this open to track, as it should by default definitely work for a Google login.

Please note that setting `USE_BATCH_ATTESTATION` to `true` with a self-generated attestation key makes you uniquely identifiable across websites. A workaround would be to generate a new random batch certificate o

[2022-04-07 05:51] geofli commented on #454
Yes, I saw the contents, thank you @kaczmarczyck
`Usually, the attestation private key is shared between a batch of at least
100,000 security keys of the same model. If you build your own OpenSK, your
private key is unique to you. This makes you identifiable across registrations:
Two websites could collaborate to track if registrations were attested with the
same key material. If you use OpenSK be

[2022-04-07 07:47] bubundas17 commented on #454
If it is not privacy friendly to use an unique attestation private key. Is it safe to use the crypto_data folder shared by FeitianTech? And is it safe to use a private key which is being shared in a public repository?

https://github.com/FeitianTech/OpenSK/releases

I got this release link on Feitian's OpenSK GUI setup guide.
https://feitiantech.github.io/OpenSK_USB/feitianguiway/

[2022-04-07 08:07] kaczmarczyck commented on #454
The browser controls whether U2F or CTAP2, and it's also your privacy advocate. The browser doesn't directly forward the received responses from your security key, but filters necessary information. For example, when you reproduce this issue with a recent Chrome, it would ask at some point whether you want to allow sending information to identify your security key model. If you skip, Chrome strips

[2022-04-07 09:15] geofli commented on #454
The certificate and private key shared here https://github.com/FeitianTech/OpenSK/releases are different with the materials inside OpenSK hardwares sold publicly.
https://github.com/FeitianTech/OpenSK/releases was just regenerated to show how to use the GUI firmware update tool.

[2022-04-07 09:55] bubundas17 commented on #454
Some off topic questions:
Will it be possible to backup and restore the storage partition without a j-Link and restore it later?

[2022-04-07 10:03] geofli commented on #454
AFAIK, it is impossible to do that unless you use a J-Link.

[2022-04-07 10:42] kaczmarczyck commented on #454
@bubundas17 Can you tell me more about your use case? It has traditionally been considered a feature that secrets can not leave your security key. I believe there may be good reasons to want such a feature, and I'm curious about your ideas!

[2022-04-07 11:46] bubundas17 commented on #454
@kaczmarczyck As it is already possible to dump the persistent storage via a j-Tag,  Security concerns should not be a factor in not implementing it because someone with the right tools can do it anyway.

I thought it might be helpful. Because, while tinkering with the firmware (e.g., changing from one version to another or tweaking customization parameters.), at some point, we might need to clear

[2022-04-07 12:12] kaczmarczyck commented on #454
Users should have the choice whether they want to lock down access to JTAG or not. You can [configure OpenSK](https://github.com/google/OpenSK/blob/f2496a8e6d71a4e838884996a1c9b62121f87df2/tools/configure.py#L187) to be locked down for improved security. I'm not saying that this closes all attack vectors for a local attacker, but arguably security key users have advantages from inaccessible privat

[2022-04-07 12:28] bubundas17 commented on #454
I am already using a Yubico Key for daily use.
If I consider adding this feature and create a PR, will you guys accept it?

[2022-04-07 12:41] jmichelp commented on #454
If you use a vendor specific command (like we did for our `configure.py` script) to dump the storage, this should at least come with the step of validating the user's PIN to succeed.
Maybe the command should also take an ECC public key as a parameter to protect the storage so that OpenSK can encrypt it properly before sending it over USB.

Injecting the storage into another key has some side effec

[2022-04-07 16:04] bubundas17 commented on #454
@geofli
Setting
`const USE_BATCH_ATTESTATION: bool = true;`
Has another side effect.
Yubico's WebAuthn demo, is no longer accepting the key.
https://demo.yubico.com/webauthn-technical/registration
It says,
`Attestation certificate must use version 3!`
![image](https://user-images.githubusercontent.com/26280146/162247222-53fb5e36-bcd9-4078-829c-5799f1f373bc.png)

Tested with Stable and Develop bran

[2022-04-07 16:26] kaczmarczyck opened #455 "Batch attestation fails on Yubico's WebAuthn demo"
Reported by @bubundas17 in #454 [here](https://github.com/google/OpenSK/issues/454#issuecomment-1091919933).

Tested with `stable` and `develop`, setting
`const USE_BATCH_ATTESTATION: bool = true;`

https://demo.yubico.com/webauthn-technical/registration
It says,
`Attestation certificate must use version 3!`

[2022-04-07 16:27] kaczmarczyck commented on #454
I opened a new issue #455 to track that. Seems like an independent problem!

[2022-04-07 17:06] jmichelp commented on #455
Fix is to to tell openssl to generate v3 certificates by adding some cert extensions parameters.

BTW if we want to comply with the FIDO spec about the certificate, we also need to use the following extension OIDs on the certs:
- 1.3.6.1.4.1.45724.2.1.1 (FIDO attestation)
- 1.3.6.1.4.1.45724.1.1.4 (FIDO AAGUID)

As a side effetc, enabling these should automatically turn the x509 certificates to be

[2022-04-08 01:27] geofli commented on #454
@bubundas17 , yes, the automatically generated certificate is not compliant with https://www.w3.org/TR/webauthn-1/#packed-attestation-cert-requirements , so Yubico demo server rejects it.
I just changed `const USE_BATCH_ATTESTATION: bool = true` to try to check that Google server does not accept self-attestation. If you want to really change OpenSK to have batch attestation, there is still some wo

[2022-04-08 01:28] geofli commented on #455
https://www.w3.org/TR/webauthn-1/#packed-attestation-cert-requirements
https://fidoalliance.org/specs/fido-u2f-v1.2-ps-20170411/fido-u2f-authenticator-transports-extension-v1.2-ps-20170411.html

[2022-04-08 16:10] bubundas17 commented on #455
@jmichelp
I have edited `gen_key_meterials.sh` line 81-96
and added

[code]
and added this lines in {openssl_ext_file}

`
basicConstraints=CA:FALSE
`

And generated new certs.
After doing that, the generated certificate came out to be x509v3
with this, the  OpenSK device seems to be working on the Yubico demo website.
with `const USE_BATCH_ATTESTATION: bool = true`
I still do not know how to go ab

[2022-04-08 17:18] bubundas17 commented on #455
https://www.w3.org/TR/webauthn-1/#packed-attestation-cert-requirements
according to this

As the root certificate is being generated on the end user's computer as a part of the setup script, Is it okay to ignore Extension OID?

[2022-04-11 13:04] kaczmarczyck opened #457 "Create correct certificates"
Our certificate is not correctly generated, as surfaced in #455. We have an immediate fix for the reportedly breaking website in #456. This issue tracks the correctness of the certifice according to the specification. Some more information is in #455.

Things to watch out for:
- OIDs values must be generated according to the transports we can talk to.
- Instead of having a file for the extensions

[2022-04-11 22:37] kaczmarczyck commented on #455
Fixed, #457 tracks certificate version progress.

[2022-04-11 22:37] #455 closed, assigned to nobody

[2022-04-21 20:47] SaphireLattice opened #464 "Button does nothing on MDK USB Dongle"
## Expected Behavior
The "press me" blinking stops and I'm able to use at least some U2F demo/etc

## Actual Behavior
Nothing happens, the LED keeps blinking. I am also unable to re-enter DFU mode again

## Steps to Reproduce the Problem

1. `./deploy.py --board=nrf52840_mdk_dfu --opensk --programmer=none`
1. `python3 uf2conv.py -c -f 0xada52840 -o target/opensk.uf2 target/nrf52840_mdk_dfu_merged.

[2022-04-22 08:52] kaczmarczyck commented on #464
Hi!

I tried on both the stable and develop branch, following [the docs](https://github.com/google/OpenSK/blob/stable/docs/boards/nrf52840_mdk.md) like you have been, and both work as intended. With the press of a button, the blinking stops and registration finishes.

I'm not sure if I can help you at this point. A few ideas:

You were able to enter DFU mode (which includes a button touch), but no

[2022-04-22 15:55] SaphireLattice commented on #464
Oookay, just tried it in chrome. U2F/FIDO does not work, but WebAuthn/FIDO2 works fine (at least on demo sites)

Firefox however uh.. just keeps the token asking and when I press the button, it faintly stutters and continues to blink >_>

Greeeeeat... sigh. Thanks for the tip on that though!

Weird the bootloader died, though

[2022-04-22 16:34] kaczmarczyck commented on #464
Firefox problems might be related to missing U2F support. Have you configured your device? That adds a certificate that U2F needs.
[code]

Not much I can say about the bootloader, but thanks for reporting!

[2022-05-01 22:56] geo-lit opened #475 "OpenSK and ECDAA"
Hi I was in contact with @jmichelp asking him about ECDAA.

Just wondering if anyone knows why the draft has not been implemented, and has been stagnant since 2018 (although I recently found a new draft from FIDO from May 2021 https://fidoalliance.org/specs/common-specs/fido-ecdaa-algorithm-v2.1-rd-20210525.pdf) I know that it's not in the specification, but seems like it would solve any privacy i

[2022-05-02 12:15] kaczmarczyck commented on #475
I don't expect widespread usage of ECDAA. I think the underlying cryptography is relatively young, i.e. the 2021 draft fixes security holes from 2018. At the moment, I recomment to solve attestation related privacy issues by simply not using batch attestation. This is the default in OpenSK. It might fail for some websites with strict policies, but I don't expect OpenSK to be on their whitelists an

[2022-05-03 19:08] egor-duda commented on #335
Hello!
I'm not an original issue author, but I've started looking into this and writing first [prototype](https://github.com/egor-duda/OpenSK/tree/ed25519)
I have several questions about proper way to implement this:
1. Currently server-side credential id can only use EcDSA algorithm with P-256 curve (https://github.com/google/OpenSK/blob/develop/src/ctap/mod.rs#L84). To add support for other algo

[2022-05-03 19:45] kaczmarczyck commented on #335
Hi, thanks for your interest! I saw you started with the CTAP side of the implementation. The actual cryptography might be more work, and the CTAP more design / decision heavy. You are definitely asking the correct questions, some vague answers:

1. The current implementation is not very [crypto-agile](https://en.wikipedia.org/wiki/Cryptographic_agility) and definitely something we have to improve

[2022-05-04 08:27] egor-duda commented on #335
Hi, thanks for fast reply!

For crypto side, I was thinking about using external implementation such as `ed25519-dalek` library. As far as I understand, getting everything right in crypto implementation is notoriously tricky, so it's better to use existing implementation, which had had some scrutiny. I'm not sure about potential licensing issues, though. If external crypto crate is to be used, the

[2022-05-04 09:17] kaczmarczyck commented on #335
Your proposed `ed25519-dalek` is `no_std` and should have a permissive enough license (disclaimer: I'll have to double check). I agree to the sentiment of implementing cryptography yourself. There are some aspects we'd have to inspect before usage though, to understand the degree of usefulness of the contribution, and potentially giving appropriate warnings to our users:

- Side-channel resistance

[2022-05-04 12:24] egor-duda commented on #335
Created new branch [ed25519-experimental](https://github.com/egor-duda/OpenSK/tree/ed25519-experimental) with test generation of ed25519 keypair on the token
`cargo bloat` output for original branch:
<pre>
 File  .text     Size Crate
18.9%  52.6%  59.4KiB ctap2
 5.4%  14.9%  16.9KiB [Unknown]
 4.6%  12.7%  14.4KiB std
 3.5%   9.7%  10.9KiB crypto
 1.4%   3.9%   4.4KiB sk_cbor
 1.1%   3.2%   3.6KiB

[2022-05-04 12:26] egor-duda commented on #335
After running `./deploy.py --board=nrf52840_dongle_dfu --opensk --programmer=nordicdfu` on both branches and then extracting binary image:
<pre>
bld01:~/prog/src/OpenSK$ ls -l unpacked/*/*.bin
-rw-r----- 1 deo deo 389120 May  4 15:23 unpacked/no-dalek/nrf52840_dongle_dfu_merged.bin
-rw-r----- 1 deo deo 520192 May  4 15:22 unpacked/with-dalek/nrf52840_dongle_dfu_merged.bin
</pre>

[2022-05-04 12:29] egor-duda commented on #335
`sha2::Sha512` does indeed look like largest contributor to binary size:
<pre>
 File  .text     Size     Crate Name
 5.9%  16.7%  21.9KiB     ctap2 ctap2::ctap::CtapState::process_fido_command
 3.7%  10.4%  13.6KiB [Unknown] main
 3.4%   9.7%  12.6KiB     ctap2 ctap2::ctap::command::Command::deserialize
 2.9%   8.2%  10.7KiB      sha2 sha2::sha512::soft::sha512_digest_block_u64
 0.5%   1.4%   1.8K

[2022-05-04 20:55] kaczmarczyck commented on #335
The 113.0KiB vs 130.6KiB is how much OpenSK would take on flash. That means our current upgradable layout wouldn't work, but the standard one does. Best case, we could do with less!

Please take a look at #476. Feel free to add comments on the design and let me know if you think it would be helpful to add another algorithm!

[2022-05-07 19:25] egor-duda commented on #335
I've added ed25519 support, based on [#476](https://github.com/google/OpenSK/pull/476) (although without last two commits). See [https://github.com/egor-duda/OpenSK/tree/ed25519-crypto-agility](https://github.com/egor-duda/OpenSK/tree/ed25519-crypto-agility)

I've tested it on nrf52840_dongle with ssh-keygen -t ed25519-sk

In my branch I've added wrappers for PublicKey and Signature, along with wr

[2022-05-07 19:34] egor-duda commented on #335
One unresolved question for me is proper binary format for ed25519 signature.

I wasn't able to find it in either [fido2.1](https://fidoalliance.org/specs/fido-v2.1-rd-20210309/fido-client-to-authenticator-protocol-v2.1-rd-20210309.html) or [webauthn](https://www.w3.org/TR/webauthn/) specifications.

The only relevant thing I found is a constant `ALG_SIGN_ED25519_EDDSA_SHA256_RAW` in [fido registr

[2022-05-09 10:04] kaczmarczyck commented on #335
Your branch looks like you found [COSE](https://datatracker.ietf.org/doc/html/rfc8152#section-8.2). For signatures, [WebAuthn](https://www.w3.org/TR/webauthn-2/#sctn-signature-attestation-types) might be a good pointer? The note to not use DER looks like it matches your understanding of `ALG_SIGN_ED25519_EDDSA_SHA256_RAW`. Some data formats are not specified in CTAP directly, but only in WebAuthn.

[2022-05-10 12:32] kaczmarczyck commented on #335
#476 is merged.

[2022-05-29 15:44] egor-duda opened #485 "Implementing OpenSK-based FIDO2 emulator for QEMU"
I've made a quick-and-dirty prototype of virtual FIDO2 authenticator for QEMU using OpenSK application. The purpose is similar to #288, but instead of creating a CTAP library and linking it into QEMU, I've patched QEMU to add a fido2 device, which uses socket-connected chardev. Then I've modified main OpenSK application to listen on a unix socket and, after connection from QEMU, to process all CTA

[2022-05-29 20:14] coelner commented on #7
I can't find anything about this here in this git: https://limitedresults.com/2020/06/nrf52-debug-resurrection-approtect-bypass/

https://infocenter.nordicsemi.com/pdf/in_133_v1.0.pdf

Not directly an issue, but maybe the cryptocell gains some attention back.

[2022-05-30 13:09] kaczmarczyck commented on #454
The work mentioned by @geofli is tracked under #457.
We are looking into the problem of supporting none attestation. Looks like OpenSK is working as intended, but I will keep this issue open to track our behavior for Google logins.

[2022-05-31 14:07] kaczmarczyck commented on #335
Hi @gelintonx ! If you are still interested in this issue, feel free to test the develop branch using `--ed25519` and let me know if this is fixed!

Else I'll close if @egor-duda verifies this works now.

[2022-05-31 14:10] kaczmarczyck commented on #286
Closed due to inactivity.

[2022-05-31 14:10] #286 closed, assigned to kaczmarczyck

[2022-05-31 18:18] gelintonx commented on #335
Hi @kaczmarczyck I've been testing development branch all the evening but I'm not able to flash the device.
I get following errors:

1- fatal: No device to configure found.
2- Traceback (most recent call last):
  File "/usr/local/bin/nrfutil", line 8, in <module>
    sys.exit(cli())
  File "/home/gelintonx/.local/lib/python3.9/site-packages/click/core.py", line 829, in __call__
    return self.mai

[2022-05-31 18:59] kaczmarczyck commented on #485
May I ask if you have a specific goal in mind? Is QEMU the purpose like in #288, or do you want a desktop OpenSK?

Let me elaborate a bit on our current work in progress. We noticed that OpenSK is more testable and more broadly usable if its logic was separate from the platform it runs on. With that in mind, we started splitting everything TockOS-related into `TockEnv`. (It looks like you found th

[2022-06-01 10:00] kaczmarczyck commented on #335
It looks a bit like #135, with the error in `click`. Can you try `pip3 install --upgrade click`?

[2022-06-01 17:29] egor-duda commented on #485
QEMU, mostly.

I've experimented with running desktop version of OpenSK (on Linux, using /dev/uhid), but I don't see the point, security-wise, of running authenticator on the same host system with user agent. Maybe only for testing/development?

[...]

Great!

I've implemented storage which stores its contents in host-OS-based file: https://github.com/egor-duda/OpenSK/tree/hostenv-file-storage
Thi

[2022-06-01 17:48] kaczmarczyck commented on #485
Testing is definitely a plus. One real world example (that doesn't necessairly require file storage) of desktop security key implementations might be [Chrome's WebAuthn debugger](https://developer.chrome.com/docs/devtools/webauthn/).
Outside of testing, I'll leave it to the community to decide what use cases they have in mind. Security keys as a file at least make backups a lot easier :) It's a bi

[2022-06-01 17:59] ia0 commented on #485
Regarding storage, the proposed implementation is a valid idea (adding a file-based `Storage` implementation). I'm not sure why the `BufferStorage` is used though, since the file is probably going to be in RAM anyway, so it's not even more performant. Then there are a few technical aspects too. But overall it's a PR that could be merged.

[2022-06-01 19:03] egor-duda commented on #485
I'm not sure if it's possible to make pure file-based storage without memory buffer using current API?

`read_slice` returns a reference, which means, as far as I understand, than underlying storage object must own all those slices' data, and keep it while application is running.

[2022-06-01 19:07] ia0 commented on #485
I see. That's actually a good reason to change the API then. I was considering it for other reasons (in particular make it compatible with `embedded-storage`), but this one adds to it. Might be worth checking whether it's easy to do and if it changing the binary size in any way.

[2022-06-01 20:05] jmichelp commented on #485
Although for test/debug purposes I don't see objections to a storage serialized on drive, for a "normal" usage, I'd prefer to see the file at least encrypted and if possible using a key derived from hardware unique IDs for security reasons. Otherwise the storage end up being nothing more than a cookie jar that could be stolen by a malware while the promise of FIDO is to resist a remote attacker.

[2022-06-01 20:16] jmichelp commented on #7
We saw the publication and Nordic fixed this issue starting with their rev. D chip. They changed how APPROTECT can be enabled.
This isn't something we changed in our code base yet (we do have basic support to enable APPROTECT) because we first wanted to have an API to securely upgrade the firmware once APPROTECT has been enabled. This started with our minimalist bootloader in #404. Ideally I would

[2022-06-02 13:49] gelintonx commented on #335
Hi @kaczmarczyck I updated my click version but stills failing on the same point.
I'll try with a different python version currently I'm using 3.9.2.

[code]

Regards

[2022-06-02 15:32] egor-duda commented on #335
@gelintonx
It looks like you get no response from the board on the GetSerialMTU request
You can add multiple `-v` options to nrfutil call, like this:
<pre>
diff --git a/deploy.py b/deploy.py
index 301eea5..2baa06a 100755
--- a/deploy.py
+++ b/deploy.py
@@ -847,7 +847,7 @@ class OpenSKInstaller:
         info("Flashing device using DFU...")
         dfu_return_code = subprocess.run(
             [

[2022-06-02 19:49] egor-duda commented on #485
The idea is to have file-backed storage residing on the host OS, on which QEMU is running, whereas user agent runs on the guest, accessing authenticator via virtual QEMU device. Presumably, malware shouldn't be able to escape from guest VM and access any data on host OS.

If malware somehow succeeds in reaching host OS, then I don't think file encryption would be of much help. If malware gets non-

[2022-06-03 14:33] kaczmarczyck commented on #485
@ia0 is looking into solutions to enable file storage (#486, #487). Outside of that, any other plans regarding implementation for this issue? Feel free to [reach out](mailto:opensk@google.com) to discuss if you are interested!

[2022-06-06 14:56] bunnie commented on #1
Just dropping a note here -- over at Xous, we vendored in the OpenSK code and refactored the crypto crate to use the RustCrypto implementations (including the tests, which also includes the Wycheproof suite).

Xous is different enough from Tock that I don't think it makes sense to try any sort of pull request, but in case anybody is interested in trying out OpenSK with the RustCrypto versions of a

[2022-06-07 09:54] kaczmarczyck commented on #485
Some thoughts on transports in FIDO. Generally, the WebAuthn transport we would use is this [internal](https://www.w3.org/TR/webauthn/#dom-authenticatortransport-internal). However, [CTAP only mentions HID, NFC and BLE](https://fidoalliance.org/specs/fido-v2.1-ps-20210615/fido-client-to-authenticator-protocol-v2.1-ps-20210615.html#fido-interfaces). Since WebAuthn allows it, I believe we should be

[2022-06-08 01:22] foopub commented on #405
Supporting openocd is definitely helpful, due to its reliability and availability of cheap interfaces like the st-link.

(feel free to skip these next 2 paragraphs)
Using nrfutil is limited and can be a huge pain - firstly since the required version doesn't support python 3.10 so pyenv is needed, secondly since one of its dependencies, pc_ble_driver_py, cannot be installed on a musl. Cloning the n

[2022-06-08 09:25] kaczmarczyck commented on #405
Thanks for taking the time to explain! I'd be more than happy to merge a PR with documentation for OpenOCD, if you can make it work.

[2022-06-08 13:45] jmichelp commented on #405
As a side note, have you tried to use PyOCD instead?
It's a pure python implementation for Cortex-M devices which from my experience provides better support than OpenOCD.
I think we support it on OpenSK (mainly because when we started the project, OpenOCD support for the Nordic chip was broken IIRC)

[2022-06-08 15:31] kaczmarczyck commented on #1
Thanks for the notice! Are there commits before and after crypto migration? I'd be interested in binary size.

[2022-06-08 16:49] bunnie commented on #1
Ah, that's a good question. Actually, we never tried it using the native libraries. I just gave it a whirl to see if it'd compile swapping your original libraries back in and fixing up some dependencies -- and it looks like some nightly features are required, which we don't support in our OS as we run on stable only.

So the short answer is no, we never built OpenSK for our platform using your ver

[2022-06-08 17:20] kaczmarczyck commented on #1
I that case, that's hard to compare. At some point in the future, we will peek at hardware crypto and then also take a closer look at other libraries. Thanks!

[2022-06-08 22:16] tarcieri commented on #1
@bunnie sidebar, but I'm curious how the traits are working for you in the context of a cryptographic accelerator.

We've been interested in looking at alternative designs for embedded devices which would enable parallel pipelining between a cryptographic accelerator and a general-purpose MCU, for the purposes of doing things like encryption and authentication in parallel.

This issue discusses po

[2022-06-08 22:19] tarcieri commented on #1
Re: code size, I hope `p256` and `p384` are relatively small compared to other implementations. We don't yet leverage large constants like basepoint tables, although when we do, we'll make sure to feature gate them so embedded implementations can shut them off for code size savings

[2022-06-09 07:12] bunnie commented on #1
Maybe this `nm` dump could be somewhat helpful:
[code]
It gives a hint at least as to the rough size of the "big" functions.

[2022-06-09 07:23] kaczmarczyck commented on #1
If I read this correctly, the numbers are still hard to compare. For example, our `decode_complete_data_item` only takes 1.2KiB in `cargo bloat`. This is probably because we compile with `opt-level = "z"` and other rustc flags to optimize binary size. The real test is to replace the crypto libraries inside OpenSK it seems.

[2022-06-09 07:36] bunnie commented on #1
Looking over at the issue...it looks like the question is how do you get your CPU to do something while the crypto runs, especially in an accelerator.

I think the short answer is, generally I've only found marginal benefit in adding the async overhead to a single primitive, and so we have lived comfortably within the existing blocking traits. This is for two reasons:

1. In many cases the cryptog

[2022-06-09 07:40] bunnie commented on #1
Ah yes. good point. Here is the output with `opt-level = "z"` (our default is max speed):
[code]
`decode_complete_data_item` takes 1.75k with `z` option. Still maybe too far off for a comparison because of the difference between the codegen backends, unfortunately.

[2022-06-09 07:46] bunnie commented on #1
fwiw, `s` gets us better code size than `z`:
[code]
in this case `decode_complete_data_item` drops ever so slightly to 1.72k. Just FYI!

[2022-06-10 05:52] liamjm opened #493 "Tock USB capsule kernel panics when re-entering app"
## Expected Behavior
No panics.

## Actual Behavior
Panics

## Steps to Reproduce the Problem

1. Turn on debugging, such as with --versbose
1. Exercise opensk by sending packets to it
1. kernel panic can be seen in the console, with the following message

[code]

## Specifications

- Version: head of stable as of now. (https://github.com/google/OpenSK/commit/4763c3a3f19f560f410bc30e0c216ac4c9d26d

[2022-06-10 06:08] liamjm commented on #493
Some more details on how this is caused.
Several functions in third_party/tock/capsules/src/usb/usb_ctap.rs "enter" the app. Unfortunately there is a code flow that calls these functions twice, and so the app is "entered" again.

 Example code:
[code]

The functions that do this are:
CtapUsbClient::{can_receive_packet, packet_received, packeted_transmitted}
Driver::{allow, suscribe, command}

The

[2022-06-12 10:54] gelintonx commented on #335
Hi @kaczmarczyck, @egor-duda I finally could compile the develop branch. The main errror was my rust version at Linux I was using rustc 1.56 at MacOS I'm using rustc 1.61

I found a little mistake at tools/configure.py

Original imports at configure.py
[code]

Modified imports by me at configure.py

[code]
I discoverd this mistake looking at fido2 tests
You can find them here: https://github.com/Y

[2022-06-13 06:49] kaczmarczyck commented on #335
I'm glad that it works for you!

To your mistake: The difference is between
`from fido2 import ctap2`
and
`from fido2.ctap2 import *`
right? If my understanding is correct, my explanation for why we do that is as follows: The only part of `ctap2` we are using is `ctap2.CTAP2(dev)`. Therefore, we prefer not to import all of `ctap2` to not unnecessarily clutter our namespace.

[2022-06-13 06:50] kaczmarczyck commented on #335
Also, since it works for you now, can you confirm that this issue is fixed?

[2022-06-13 08:41] gelintonx commented on #335
Hi @kaczmarczyck the mistake is related to this line
[code]

It should be
[code]

A side from this mistake the issue is fixed and working great.

[2022-06-13 10:18] kaczmarczyck commented on #335
Ah, I didn't notice because it worked for me. Thanks for reporting! See #499 for the corresponding PR.

[2022-06-22 15:22] #335 closed, assigned to kaczmarczyck

[2022-06-22 15:27] kaczmarczyck opened #506 "Configure in deploy with vendor_hid"
The configure command currently only supports the first usage page. However, we only accept it from `vendor_hid` if the compile flag is set. We can either:

- Allow the vendor configure command on both usage pages.
- Implement a flag in our configure script to run on either usage page.

The latter could be tricky, since we rely on libfido, and they only speak with the correct FIDO usage page OOTB.

[2022-06-23 12:23] egor-duda opened #507 "cargo_clippy github workflow fails on forked repo"
After pushing changes to fork repo, `cargo_clippy` workflow fails with error "Resource not accessible by integration", see e.g. https://github.com/egor-duda/OpenSK/actions/runs/2547812258
This also hides real clippy errors because next `run: cargo clippy ...` command is not run after `actions-rs/clippy-check` failure.

This is caused by actions-rs/clippy-check#2, due to inability of `clippy-check`

[2022-06-27 20:45] kaczmarczyck commented on #507
Thanks for reporting. I'll look into it when I have time. Seems to be not too high impact, since you can always test locally with `run_desktop_tests` and it works on our main repository.

[2022-07-01 14:58] foopub commented on #405
The problem with PyOCD is that one of the wheels it depends on doesn't want to build on musl by default:

On Alpine at least (which links musl dynamically), this can be solved with `RUSTFLAGS='-C target-feature=-crt-static' pip install ...`, not sure about other musl targets. Obviously for anyone on a glibc distro (large majority of people), this shouldn't be an issue. Still, installing openocd (o

[2022-07-15 02:10] liamjm commented on #493
#494 fixes this.

[2022-07-15 02:10] #493 closed, assigned to kaczmarczyck

[2022-07-28 03:40] liamjm opened #519 "User presence touch timeouts get treated as user presence"
## Expected Behavior
When waiting for user presence, a timeout should lead to an error, eg CTAP2_ERR_USER_ACTION_TIMEOUT

## Actual Behavior
Successful response is returned to host.

## Steps to Reproduce the Problem

1.  send a AuthenticatorMakeCredential command
1.  don't touch the buttons

## Specifications

- Version: develop branch
- Platform: linux

[2022-07-28 04:34] liamjm commented on #519
Issue is caused by the result variable from the presence check being overwritten by the result from sending the keepalive packet:

https://github.com/google/OpenSK/blob/develop/src/ctap/mod.rs#L352-L355

[code]

[2022-08-02 09:50] kaczmarczyck commented on #519
I checked on the latest develop. If I wait for touch timeout, it returns `CTAP2_ERR_USER_ACTION_TIMEOUT` as expected. Can be closed?

[2022-08-08 22:53] liamjm commented on #519
Yep, SGTM.

[2022-08-08 22:53] #519 closed, assigned to kaczmarczyck

[2022-08-12 01:21] sophiel-meow opened #526 "Failed to load "resident" ssh key generated by OpenSK device"
## Expected Behavior
　　After successfully generating the residential ssh keys by `ssh-keygen -t ecdsa-sk -O resident`, the private key should can be load to another computer via the OpenSK devices by `ssh-add -K`, but it failed to load.

## Actual Behavior
　　Generation step on residental key seems to be successful, but when I tried to load the key to anthoer PC, by pluging in the OpenSK device and

[2022-08-12 11:42] ia0 commented on #526
Thanks for the issue!

My understanding is that `ssh-add -K` is implemented by https://github.com/openssh/openssh-portable which uses https://github.com/Yubico/libfido2 for security key features. And libfido2 uses a vendor command (0x41 which conflicts with our upgrade command) instead of the credential management command (0x0a) for credential management.

I think we should create an issue on libf

[2022-08-12 12:28] sophiel-meow commented on #526
　　Thanks for your reply.
　　Please forgive my ignorance, but is it enough to change only "CTAP_CBOR_CRED_MGMT_PRE" from 0x41 to 0x0a, or there are something more should be modify? I've found a document regarding CTAP, which told me that the 0x0a is surely the "authenticatorCredentialManagement" command. So why libfido2 uses 0x41 instead of 0x0a. Will it make other fido keys go wrong after doing suc

[2022-08-12 13:58] ia0 commented on #526
AFAICT yes, the rest of the code looks pretty close to the specification. But you would need to ask libfido2 to be sure.

AFAICT the authenticatorCredentialManagement is part of FIDO 2.1 and not FIDO 2.0, so for security keys that only implement FIDO 2.0 or earlier, using 0x0a would not work. However, if such security keys are Yubico, then they probably support 0x41. And I guess Yubico security ke

[2022-08-12 14:02] jmichelp commented on #526
They could do both:
* If authenticator says `FIDO2_0` in GetInfo, send command `0x41`
* Else send `0x0a` command and if authenticator replies with invalid command, send `0x41` command instead

[2022-08-12 14:11] sophiel-meow commented on #526
Sounds Good! I’ll open an issue for libfido2 later to ask about the command. And do some research on “GetInfo”.

[2022-08-12 14:13] jmichelp commented on #526
Here is a link: [`GetInfo` command specification](https://fidoalliance.org/specs/fido-v2.1-rd-20201208/fido-client-to-authenticator-protocol-v2.1-rd-20201208.html#authenticatorGetInfo).
It's something the libfido2 should already send very early in the protocol to see what it supports.

[2022-08-12 14:45] sophiel-meow commented on #526
I have opened a short issue for libfido2 to ask whether that command could be changed to 0x0a. Furthermore, I will do some research on CTAP just like @jmichelp said, since I am not familiar with it CTAP.
Thanks again for supporting me.

[2022-08-12 15:45] ia0 commented on #526
libfido2 had an interesting idea in https://github.com/Yubico/libfido2/issues/628: supporting 0x41 as a duplicate command for 0x0a. The reasoning being that there might be other tools that assume credential management to be on 0x41. The change should be pretty easy on OpenSK side since there is not yet any external tooling calling into our vendor upgrade command.

[2022-08-12 16:18] ia0 commented on #526
@JunASAKA You can try #527 . I'm not sure what the correct output of `ssh-add -K -v` should be, but it doesn't fail and ends with `Resident identity added: ECDSA-SK SHA256: [...]`. So this PR might fix your issue.

[2022-08-12 16:27] kaczmarczyck commented on #526
@ia0 I think your assumption is correct, and we should support libfido2 and other legacy clients by blocking 0x41 the way to did in #527.
Also thanks for the bug report @JunASAKA . If you create an issue in libfido, feel free to CC me there.

[2022-08-13 02:04] sophiel-meow commented on #526
Thanks for the reply. I've tested the PR, and it works as excepted. Waiting for the PR to be merged.

[2022-08-13 04:35] kaczmarczyck commented on #526
Merged! Your comment on the PR sounds like this issue can be closed.

[2022-08-13 04:35] #526 closed, assigned to nobody

[2022-08-13 04:39] sophiel-meow commented on #526
Good! Thanks a lot!

[2022-08-27 16:15] Sami32 commented on #106
Any update on this?

It seem that features have been tested and that CTAP 2.1 get its final version:
https://fidoalliance.org/specs/fido-v2.1-ps-20210615/fido-client-to-authenticator-protocol-v2.1-errata-20220621.html

[2022-08-29 04:49] kaczmarczyck commented on #106
Hi! We haven't noticed any problems with our implementation of CTAP 2.1 yet. It will take more time for an official release, but you can try out the `develop` branch if you are curious about the current state. Is there anything specific you are interested in?

[2022-09-10 16:01] Sami32 commented on #106
Hi!
Sorry for my late answer.
Thanks for the information +1
I'm mostly interested in the management of discoverable credentials.

Note:
https://eprint.iacr.org/2022/1029

[2022-09-12 07:42] kaczmarczyck commented on #106
Management of discoverable credentials works with e.g. Chrome (chrome://settings/securityKeys) on `develop`.

[2022-09-18 19:29] Tiebe commented on #348
How did you get out of this flashing mode?

[2022-09-18 20:15] Tiebe opened #544 "LED flashing light blue after flashing, cannot enter DFU mode"
## Expected Behavior
Being able to use OpenSK after flashing

## Actual Behavior
Led flashing light blue rapidly, cannot enter DFU mode by pressing the button while plugging in.

lsusb output:
[code]

dmesg output:
[code]

## Steps to Reproduce the Problem

1. `git clone https://github.com/google/OpenSK.git`
2. `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs/ | sh`
3. `source $HOME/ .ca

[2022-09-19 08:43] yazhuo-wyze opened #545 "Request support E104-BT5040U （nRF 52840）"
product link : https://www.ebyte.com/product-view-news.html?id=1030
buy link : https://detail.tmall.com/item.htm?id=624428606924

[2022-09-20 09:31] kaczmarczyck commented on #348
Hey, is this question related to your issue #544 ? Because the referenced video is not an MDK, and you #544 is about MDK. But if you have problems on both platforms, can you create a new issue for the dongle with your exact steps? Otherwise I will respond on #544.

[2022-09-20 10:35] kaczmarczyck commented on #544
Works for me on a fresh MDK. Maybe you need to erase the persistent storage, and the blinking is a panic. In that case, follow the instructions above again, but instead of flashing OpenSK, you install the example app that erases all storage.
WARNING: Erases all existing credentials, in case you have any important ones.

[code]

Then copy and replug. Give it a few seconds to complete erasing the st

[2022-09-20 10:49] kaczmarczyck commented on #545
Hi! Can you please specify what kind of support you request? If you want to run OpenSK on your hardware, the Nordic chip is supported. However, BLE is not yet implemented, so you'd have to contribute for that :)

[2022-09-20 11:07] yazhuo-wyze commented on #545
Hello Again.  I need an installation document, like this: https://github.com/google/OpenSK/blob/stable/docs/boards/nrf52840_mdk.md
, no need for Bluetooth for now.I mentioned E104-BT5040U, this one. I think it uses an nRF 52840.

[2022-09-20 11:30] kaczmarczyck commented on #545
We don't support new hardware on request. We do accept contributions, so if you find out how to install OpenSK on this platform, feel free to extend our documentation.

[2022-09-20 11:35] yazhuo-wyze commented on #545
ok，thanks.I will try this new board, but I am not good at embedded development. If it works, I will provide documentation.

[2022-09-21 13:32] dgnkrhn opened #547 "Generating Tock TAB file for application/example ctap2 issue"
Hi, I am facing a problem in Generating Tock TAB file stage before flash.

## Actual Behavior
terminal output like this:

info: Generating Tock TAB file for application/example ctap2
Traceback (most recent call last):
  File "/home/dgn/OpenSK/./deploy.py", line 990, in <module>
    main(main_parser.parse_args())
  File "/home/dgn/OpenSK/./deploy.py", line 749, in main
    OpenSKInstaller(args).run

[2022-09-21 14:13] kaczmarczyck commented on #547
Hi! Have you run `./setup.sh` before deploying? It contains these lines to install `elf2tab`.

[code]

[2022-09-21 14:48] dgnkrhn commented on #547
By doing  ./reset.sh and /.setup.sh my problem was solved.
Thank you

[2022-09-21 14:48] #547 closed, assigned to kaczmarczyck

[2022-09-25 04:44] sophiel-meow opened #549 "Cargo Error: "error[E0635]: unknown feature `proc_macro_span_shrink`" when building."
## Actual Behavior
　　When running deploy script(develop branch) to build openSK or erase_storage for nrf52840_dongle with "./deploy.py --board=nrf52840_dongle_dfu --erase_storage --programmer=nordicdfu", it goes wrong showing "error[E0635]: unknown feature 'proc_macro_span_shrink'". More info shows below:
<br />

`info: Building example erase_storage`
`   Compiling proc-macro2 v1.0.44`
`   Compili

[2022-09-26 09:54] kaczmarczyck commented on #549
Initial assessment: I can reproduce after a `cargo update`. It did a suspicious version jump there:
`proc-macro2 v1.0.43 -> v1.0.44`
So before we have it fixed, I suspect you can lock the crate's version.

[2022-09-26 10:28] sophiel-meow commented on #549
Thanks for replying.
I noticed that the new released [commit for proc-macro2](https://github.com/dtolnay/proc-macro2/commit/cc97264f9f324ade9b820a1629f379b2cbb6e632) showes that a new feature "proc_macro_span_shrink" was added to src/lib.rc. After removing such feature, the compilation would be succeed.
But it is shamed to say hat I haven't got alone with Rust well, Any suggestion with that? Looki

[2022-09-26 14:27] kaczmarczyck commented on #549
Hi! You are correct, that is what's going on. We can simply pin the version to 1.0.43, and we should be good.

Thanks for reporting, and feel free to report back if #550 fixes your problem once it is merged!

[2022-09-27 08:16] sophiel-meow commented on #549
The issued has been fixed.
Closed.

[2022-09-27 08:16] #549 closed, assigned to kaczmarczyck

[2022-10-01 18:21] Tiebe commented on #544
Would love to try this, but I can't even enter dfu mode, so I can't flash anything

[2022-10-02 00:59] JunASAKA commented on #544
I think it is impossible to be failed to enter DFU mode. You can try pressing the button and reset key(backside installed one) at the same time when the device is already connected to the PC. Then it will go into DFU if nothing went wrong.
And you can then flash it with
‘./deploy.py --board=nrf52840_dongle_dfu --erase_storage --programmer=nordicdfu’

‘./deploy.py --board=nrf52840_dongle_dfu --open

[2022-10-03 04:09] kaczmarczyck commented on #544
Ah right, understood. Is this problem OpenSK related, because you can't enter DFU mode since you flashed an OpenSK, and it worked before?

[2022-10-03 05:22] Tiebe commented on #544
That's correct

[2022-10-03 06:24] kaczmarczyck commented on #544
In that case, I'll have to understand how to reproduce. Please let me know if you have any pointers etc. about that.

[2022-10-04 09:36] kaczmarczyck opened #552 "Clear large blob / stateful command state when the PIN token resets"
A PIN token timeout requires us to reset any command that used the PIN token. So far, we only check if other commands interleave.

[2022-10-06 14:15] kaczmarczyck commented on #552
I realized that large blob behaves different than other stateful comments: It checks the PIN token on every call, not just the first. Therefore, the command should work as is.

[2022-10-06 14:15] #552 closed, assigned to kaczmarczyck

[2022-10-09 16:10] Samthebest999 opened #553 "proc-macro2 compilation error"
## Expected Behavior
**Compiling** proc-macro2 v1.0.46
## Actual Behavior
error[E0635]: unknown feature `proc_macro_span_shrink`
  --> /home/{username}/.cargo/registry/src/github.com-1ecc6299db9ec823/proc-macro2-1.0.46/src/lib.rs:92:30
   |
92 |     feature(proc_macro_span, proc_macro_span_shrink)
   |                              ^^^^^^^^^^^^^^^^^^^^^^

error: aborting due to previous error

For

[2022-10-09 17:27] L0g4n opened #554 "Manual building for unsupported boards (simulation)"
Hello there,

I want to (try to) build OpenSK for testing purposes for other (experimental) boards which are supported by Tock OS, however, not supported by this project. In my case specifically the OpenTitan Verilator Simulation.

However, after checking your readme, I can only, understandably, see instructions for calling the `deploy.py` script for supported boards such as the nRF52840. What wou

[2022-10-10 05:53] JohnVersus commented on #549
Hi, I have the same error on Mac M1 and tried adding `proc-macro2 = "=1.0.43"` in dependencies. But it did not work.

In return it gave me a bunch of errors that look like these. Am I missing something or Is there any other fix?
[code]

[2022-10-10 07:09] kaczmarczyck commented on #549
We did not backport the fix to stable yet. Can you confirm that you are on the stable branch? In that case, I'll respond on #553 since it seems to be same problem.

[2022-10-10 07:23] kaczmarczyck commented on #554
If your board is supported by Tock, then do you know how to install it? Our flow is roughly this:

- `make` our custom TockOS
- build the Rust app, flags like in [this function](https://github.com/google/OpenSK/blob/a79abc209a8ce15d72274531c69f59fe72f86e88/deploy.py#L361)
- flash Tock with a method of your choice
- use Tockloader to write the app

Flashing generally depends on your hardware. For i

[2022-10-10 08:58] jmichelp commented on #554
In addition, pay attention that a board supported by Tock is unfortunately not enough as we have patches being applied to the kernel to support both our flash storage and a USB capsule which we rely on.
Those patches were not accepted upstream and therefore we need to maintain them in our repository.
Last but not least, we're currently based on Tock 1.x (more precisely the commit right before Tock

[2022-10-10 09:23] JohnVersus commented on #549
Yes, I am on stable and I tested on the `nightly` and `span-locations` features with the same version, and it still throws an error.

[2022-10-10 13:34] #553 closed, assigned to kaczmarczyck

[2022-10-10 13:50] kaczmarczyck commented on #549
Please let me know if your problem is solved on stable now!

[2022-10-10 13:51] kaczmarczyck commented on #553
Can you pull and see if it works?

[2022-10-10 14:16] Samthebest999 commented on #553
It works now! Thanks!

[2022-10-10 14:29] Samthebest999 opened #557 "configure.py error"
## Expected Behavior
./tools/configure.py     --certificate=crypto_data/opensk_cert.pem     --private-key=crypto_data/opensk.key
info: Private key is valid.
info: Certificate is valid.
info: Programming OpenSK device AAGUID e4020c81-3218-4d8e-8a54-a6dd965ab66f (CtapHidDevice('/dev/hidraw8')).
info: Please touch the device to confirm...
info: Certificate: Present
info: Private Key: Present
100%|███

[2022-10-10 14:30] Samthebest999 commented on #557
Fix is in pr #556

[2022-10-10 23:36] #557 closed, assigned to kaczmarczyck

[2022-10-12 12:34] JohnVersus commented on #549
Hey @kaczmarczyck, yup it is solved now. Thanks 🤩

[2022-10-12 17:18] L0g4n commented on #554
Yes, thank you, this is roughly what I meant. Compiling process if for me know clearer, as I'm trying to build for the `riscv32imc` target. What I currently don't know is how I would build the correct images for the [OpenTitan Verilator Simulation](https://docs.opentitan.org/doc/getting_started/setup_verilator/) before I get a real FPGA board to try to build this against.
However, this is not real

[2022-10-17 03:37] chimpnz commented on #544
I had the same problem. Flashing LED and unresponsive bootloader.

If you have a Raspberry Pi you can use OpenOCD to re-flash the UF2 bootloader.

I followed the instructions here https://www.rototron.info/circuitpython-nrf52840-dongle-openocd-pi-tutorial/

It is for the PCA10059 dongle but the process is the same. The only difference is the location of the SWDCLK and SWDIO pins. The pinout can be

[2022-10-17 09:17] kaczmarczyck commented on #544
Thanks for helping! Do you know if the unresponsive bootloader was caused by OpenSK? @chimpnz

[2022-10-17 17:28] chimpnz commented on #544
Not really sure. I tried to reproduce it and can not. The MDK dongle that had the issue had CircuitPython and LOGItacker installed previously. I tried again loading both via UF2 and then OpenSK and the bootloader remains functional.

I tried another MDK dongle with the original bootloader (UF2 Bootloader 0.2.13-42-g82464f9-dirty) with CircuitPython/LOGItacker/OpenSK and bootloader works fine.

One

[2022-10-17 17:47] jmichelp commented on #544
Can you confirm which branch you're using? `stable` or `develop`?
The original issue is against `stable`.

Considering the dongle has been used before, this is what may have happened:
* other apps have configured the `UICR` NVM registers a specific way for their usage
* OpenSK at boot up checks that the reset pin and the voltage regulator (stored in `UICR`) are configured correctly [code](https://

[2022-10-17 17:53] chimpnz commented on #544
I am using the stable branch.

[2022-10-17 18:09] chimpnz commented on #544
I erased and flashed the UF2 bootloader. CircuitPython will load an run. After loading OpenSK, CircuitPython will no longer run.

[2022-10-18 15:31] #544 closed, assigned to kaczmarczyck

[2022-10-21 02:15] bkettle opened #561 "--debug output not printingon nrf52840dk"
Hi,

I am hoping to do some work based on OpenSK but am having some difficulty getting the debug printouts to work. Is there something that I am missing in this process?

When I use an unmodified (non-opensk) version of tock, I am able to see the "Initialization complete. Entering main loop'" printout as well as extra printouts made by userspace apps (such as the libtock-c button-print example). U

[2022-10-21 09:50] kaczmarczyck commented on #561
Following your exact steps, I can't reproduce. The reset button for me does not disconnect RTT, and I still see all prints. I have no guess why the USB cable could be related, or why reset would disable prints.

[2022-10-21 09:52] kaczmarczyck commented on #561
@jmichelp any ideas?
Otherwise you might have to check your cables again if anything is going on there. Is the behavior consistent across host machines (if you have another to test)? Does the same happen on the develop branch of OpenSK? If you want to try, the deploy command changed a bit, the board name is now `nrf52840dk_opensk`.

[2022-10-21 11:32] L0g4n opened #562 "Testing invariants fail with "internal compiler error" on nightly-2021-03-25 toolchain"
## Expected Behavior

Testing the invariants during the deploy script should pass.

## Actual Behavior

The tests fail.

## Steps to Reproduce the Problem

- Run the deploy script or manually run `cargo test --features=std --lib customization` and watch the output.
- `./deploy.py --board=nrf52840_dongle_dfu --opensk --programmer=nordicdfu`

[code]

## Specifications

- Version: 44cafb956612c343470

[2022-10-21 11:48] kaczmarczyck commented on #562
Hi, thanks for the report!
It works for me. Does this reproduce for you on a fresh clone? And does it still happen after you `cargo clean` your build?

[2022-10-21 11:55] L0g4n commented on #562
Damn, this is embarrassing. It worked after `cargo clean`. I assume the remaining build artifacts of the `stable` branch messed it up.

[2022-10-21 11:55] #562 closed, assigned to nobody

[2022-10-21 11:55] kaczmarczyck commented on #562
No worries, glad it works!

[2022-10-21 12:28] L0g4n opened #563 "Respect `CARGO_TARGET_DIR` env var instead of hardcoding target directory"
## Expected Behavior

I have set the environment variable `CARGO_TARGET_DIR` to a custom directory.
What is `CARGO_TARGET_DIR`: [Reference](https://doc.rust-lang.org/cargo/reference/environment-variables.html#environment-variables-cargo-reads)

The deploy script should respect the env var and be able to resolve the path.

## Actual Behavior

The deploy script does not respect the env var and assum

[2022-10-21 13:12] bkettle commented on #561
Thanks for the ideas. Unfortunately on the develop branch I was unable to run the deploy script---I got a message about "fatal: No device to configure found" after the apps are written to the device.

[2022-10-21 13:26] kaczmarczyck commented on #561
If you got that message, it means that you might have flashed OpenSK successfully. As the last step, we try to send a CTAP command to the board to configure it. This last step is performed over the USB port, not the debug port.

There could be different reasons why OpenSK wouldn't properly work after you flashed it:

1. Your storage is incompatible with develop. You can test that with `/deploy.py

[2022-10-21 15:32] bkettle commented on #561
When I install the erase_storage app with the command you gave above, I get the same "no device to configure found" message---but I assume this is expected because there is no app to receive the CTAP2 command? After running this, I receive the same message when I try to flash OpenSK normally.

All the switches are in the right place, and unfortunately as far as I can tell the device does not work

[2022-10-21 15:45] kaczmarczyck commented on #561
Having only `stable` working and not `develop` is unusual. Usually, erasing the storage before you switch would be the solution for that, since it indicates that hardware is okay.

Could it be that you configured the device to be protected? You can use our configure script with `--lock-device` and that might be related. It should act as you describe afterwards, not allowing debugging. It doesn't e

[2022-10-21 19:47] bkettle commented on #561
So, to confirm---in the develop branch, I need to have both the debug USB cable and the peripheral USB cable connected, correct? While on stable it works fine to program with only the debug USB cable attached?

[2022-10-21 20:53] bkettle commented on #561
OK, I was able to get the develop branch working and somewhat fix the CTRL-AP thing. For future reference in case anyone else has the same problem, I had to download [nRF command line tools](https://www.nordicsemi.com/Products/Development-tools/nRF-Command-Line-Tools/Download?lang=en#infotabs) and run:

[code]

I'm not sure how I got into the locked state (I think it is called APPROTECT, and I don

[2022-10-23 09:09] micolous opened #565 "APDU parser has multiple errors"
I found a couple of bugs while reviewing the OpenSK APDU parser, because while writing a FIDO client library, I noticed many FIDO implementations have buggy ISO 7816 implementations. I haven't run this on "real hardware" to try it out properly.

1. APDU parser does not handle extended form with N<sub>c</sub> = 0 and N<sub>e</sub> > 0 ("Case 2E").  [It would error out with WRONG_LENGTH](https://git

[2022-10-24 04:32] kaczmarczyck commented on #563
Fixed via #564

[2022-10-24 04:32] #563 closed, assigned to kaczmarczyck

[2022-10-24 09:00] kaczmarczyck commented on #565
Hi, thanks for the writeup, this is useful!
Our NFC implementation is still work in progress, and these bugs will be great test cases when we continue working on it.

[2022-10-24 09:09] kaczmarczyck commented on #561
Thanks for the investigation, we don't have a 2022 edition dev board, so we haven't been able to reproduce yet. But it's nice that your manual is here for other people who might stumble upon this.

You can deploy on both `stable` and `develop` with just the debugger cable, but it won't confiure the device with an optional attestation certificate. Which means U2F won't work.

Correct, we lock the d

[2022-10-25 01:23] bkettle commented on #561
I think there are some code changes necessary in order to support the 2022 boards as well in addition to documentation---in particular:

1. The APPROTECT register in UICR (`0x1000_1208`) needs to be set to `0x5A`. Currently, it is getting set to `0xFF`, which is the APPROTECT DISABLE value for older boards. Newer boards need it to be set to HWDISABLE. I haven't figured out where it is set to `0xFF

[2022-10-25 08:59] ia0 commented on #561
Assuming `third_party/tock` contains the changes, you can follow these steps:
- `(cd third_party/tock && git add . && git commit -msave && git branch tmp)` to save your changes in the tock submodule.
- `./maintainers/patches apply` to structure the submodules history according to the patches. WARNING: this will erase any unsaved state in the submodules. The output should be `Done: Applied the patc

[2022-10-26 18:04] chimpnz commented on #545
I have 3 of these. It comes with a broken Open DFU bootloader.
When first flashed with the OpenSK for the PCA10059 via nrfutil or nrf Connect it becomes completely unresponsive.

The bootloader for the PCA10059 found [here](https://devzone.nordicsemi.com/f/nordic-q-a/40924/how-can-i-restore-the-original-bootloader-of-a-pca10059) will restore functionality. With the PCA10059 bootloader it behaves j

[2022-10-27 12:13] L0g4n opened #568 "Pinned rust toolchain (nightly-2021-03-25) from libtock-rs causes linking errors on aarch64-apple-darwin"
## Expected Behavior

Compiling OpenSK should work fine on platforms like `aarch64-apple-darwin` (e.g. with `cargo build --features std`)

## Actual Behavior

Compiling with the pinned toolchain from [libtock-rs](https://github.com/tock/libtock-rs/blob/15e837e4495df2d7a39ae6d6c057fdec515cc430/rust-toolchain) causes linking errors on `aarch64-apple-darwin`. I assume that rust support for apple sili

[2022-10-28 15:18] kaczmarczyck commented on #568
We use the nightly from `2021-06-25` on our [Hybrid PQC tag](https://github.com/google/OpenSK/releases/tag/hybrid-pqc), so upgrading should be possible. I didn't encounter any issues on this branch.

Does [this patch](https://github.com/google/OpenSK/blob/93357524d9012b4dba068a3690c7638cee643ec3/patches/libtock-rs/02-compiler-version.patch) fix your problem then?

I'll assign to @jmichelp to repro

[2022-10-28 16:24] L0g4n commented on #568
Yes, I already managed to compile the develop branch on my arm64 Mac with the June nightly version.

[2022-10-29 12:18] Jiffies-Duke commented on #545
Same me. I flashed the firmware into a BT5040U. It then disconnected automatically, could not be found by PC anymore.
After flashed a bootloader from nRF5 SDK by using SWDIO interface, it came back and functioned right.
Bootloader I used: https://devzone.nordicsemi.com/cfs-file/__key/communityserver-blogs-components-weblogfiles/00-00-00-00-13/pca10059_5F00_bootloader.zip
Programmer hardware: DAPLi

[2022-10-31 00:26] github-actions[bot] opened #570 "RUSTSEC-2022-0063: Multiple vulnerabilities resulting in out-of-bounds writes"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `linked_list_allocator`                      |
| Version             | `0.8.11`                   |
| URL                 | [https://github.com/advisories/GHSA-xg8p-34w2-j49j](https://github.com/advisories/GHSA-xg8p-34w2-j49j) |
|

[2022-11-11 13:49] #554 closed, assigned to nobody